* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgb(121, 121, 121)
}

.Page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header{
    text-align: center;
    color: #ffcc02;
}

.characterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}

label{
    color: #ffcc02;
    margin: 10px;
}

input{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 800px;
    height: 20px;
    border-radius: 4px;
    margin: 10px;
}

#description {
    height: 30px;
}

button{
    background-color: #ffcc02;
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    width: 150px;
}

.imgblock{
    display: flex;
    margin-top: 50px;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #ffcc02;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

img{
    display:block;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.imgtxt{
    text-align: center;
    background-color: #ffcc02;
    
}

p{
margin-bottom: 40px;
}
